*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

.main-grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh; }

.right-content {
  background-color: rgba(211, 211, 211, 0.377); }

.left-content,
.right-content {
  padding: 3rem 1rem 1rem 6rem; }

.right-content {
  padding-left: 4rem;
  background-image: url("../logo.svg"); }

nav {
  margin-left: 5rem;
  color: #4b3f3f; }

li {
  text-decoration: none;
  display: inline-block;
  margin-right: 5rem;
  transition: all 0.1s;
  padding: 0.5rem 0.4rem; }
  li:hover {
    cursor: pointer;
    background-color: #4a4ac0;
    color: #fff;
    border-radius: 2px; }

li:first-child {
  border-bottom: 0.15rem solid blue; }

.form-description {
  color: #4a4ac0; }

.primary-form-heading {
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.9rem; }

.secondary-form-heading-line-2 {
  display: block;
  line-height: 2.7rem; }

.form-greet {
  line-height: 2.9rem;
  color: #817d7d;
  margin-bottom: 3.5rem; }

.email,
.password {
  padding: 1rem 0.5rem;
  display: block;
  width: 80%;
  margin-top: 0.5rem; }
  .email:focus,
  .password:focus {
    color: #4a4ac0; }
  .email:hover, .email:focus,
  .password:hover,
  .password:focus {
    border: none;
    cursor: pointer;
    border-left: 0.3rem solid #4f1a7a; }

.checkbox {
  display: inline-block; }

.form-desc {
  width: 80%;
  color: #4b3f3f;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: space-between; }
  .form-desc > .desc-remember-me {
    display: inline-block; }
    .form-desc > .desc-remember-me > p {
      display: inline-block;
      margin-left: 0.5rem; }
  .form-desc > a {
    color: #6f6fd6;
    text-decoration: none; }

.form-btn-login,
.form-btn-signup {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem; }

.form-btn-login {
  color: #fff;
  background-color: #4f1a7a;
  margin-right: 0.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.441); }

.form-btn-signup {
  color: #4f1a7a;
  border: 0.1rem solid #4f1a7a;
  margin-left: 0.5rem; }

.social-media-share {
  display: flex;
  height: 100px; }

@keyframes nav-animation {
  0% {
    background-color: #ffff;
    color: #4a4ac0; }
  100% {
    background-color: #4a4ac0;
    color: #fff; } }
